<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        .riririra{
                width: 200%;
                height: 1px;
                cursor: none;
        }
    </style>
</head>
<body>
    <h1>Conteúdo de Contato.EJS</h1>
    <a href="/">index</a><br>   
    <a href="/pagina4">pagina3+1</a><br>
    <a href="/portifolio">portifolio</a><br>
    <a href="https://www.youtube.com/watch?v=JtwP3MrtRVs"><img src="https://i.ytimg.com/vi/JtwP3MrtRVs/maxresdefault.jpg" alt="" class="riririra"></a>
</body>
</body>
</html>