<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <h1>Página Inicial - Index.EJS</h1>
    <a href="/contato">contato</a><br>
    <a href="/pagina4">pagina3+1</a><br>
    <a href="/portifolio">portifolio</a><br>
    <a href="/Macaco">monke</a><br>
    <img src="https://seletronic.com.br/wp-content/uploads/2020/11/whatsapp-premium.jpg" alt="">
</body>
    
</body>
</html>