<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .monke{
            height: 200px;
            width: 1300px;
            cursor: pointer ;
        }
    </style>
</head>
<body>
    <h1>   monke</h1>
    <img src="https://conteudo.imguol.com.br/c/entretenimento/ce/2020/03/19/macaco-rhesus-1584633042802_v2_615x300.jpg" alt=""><br>
    <img src="https://imagens.brasil.elpais.com/resizer/sdzoaMy4wqjKtOQzl9jh_9rHdkw=/1960x0/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/WQGOZS5S7D3DCLWMVVJM7S5VAQ.jpg" alt="" class="monke"> <br>
</body>
</html>